# MQTT Broker configuration
# Default: broker.hivemq.com (Public broker for testing)
MQTT_BROKER_URL=mqtt://broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC_PREFIX=home/security/elias

# API / WebSocket configuration
# The IP address of your ESP8266 or backend server
API_BASE_URL=http://192.168.1.100
SOCKET_URL=ws://192.168.1.100:81

# Mock Simulation mode
# Set to 'true' to use simulated data instead of real hardware
MOCK_MODE=true
MOCK_INTERVAL=2000

# Security
JWT_SECRET=your_jwt_secret_here

# Firebase Configuration
# Found in Firebase Console > Project Settings > General > Your Apps
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
